body{
     background-color: darkcyan;
    text-align: center;
}

h1{
  
    color: orangered;
}


p{
  width: 80%;
text-align: justify;
margin:0 auto;


}

figure{
 text-align: center;

}
a{

    text-align: right;
    text
}